<!DOCTYPE html>
<html lang="en">
<head>
    <title>Distraction Detector</title>

    
    <!-- Importing Socket IO -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <!-- <script src="../static/main.js"></script> -->
    

</head>
<body>
    <video autoplay="true" id="videoElement"></video>
    <canvas id="canvasElement" style="display:none" ></canvas>
        
    <!--<img id="photo">-->
</body>

</html>